html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100%;
  color: #414042ff;
}

@font-face {
  font-family: "CabinetGrotesk-Regular";
  src: url("./fonts/CabinetGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/CabinetGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("./fonts/Satoshi-Regular.woff2") format("woff2"),
    url("./fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission-header,
.mission-text {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  font-family: "CabinetGrotesk-Regular", sans-serif;
  padding-top: 30px;
}

.mission-header {
  width: 923px;
  height: 91px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mission-text {
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Satoshi-Regular", sans-serif;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-header {
  text-align: center;
  margin-bottom: 70px;
  font-family: "CabinetGrotesk-Regular", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-cards {
  display: flex;
  justify-content: center;
  gap: 75px;
  width: 100%;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*background-image: url("/images/watch2.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;*/
}

.about-header-container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.about-header {
  height: 91px;
  font-family: "CabinetGrotesk-Regular", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#linkedin-icon {
  width: 50px;
  height: 50px;
  transform: translateY(-9px);
}

.about-text {
  width: 900px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  font-family: "Satoshi-Regular", sans-serif;
}

.personal-picture {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-header {
  width: 923px;
  height: 91px;
  font-family: "CabinetGrotesk-Regular", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mission,
.projects,
.about,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

/** Boostrap Styling Overrides/Customization **/
.btn-intentional-primary {
  color: white;
  background-color: #e84a87ff;
}
.btn-intentional-primary:hover {
  color: white;
  background-color: #a2345f;
}
